.game-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  width: 100%;
}

.game-layout > :nth-child(2) {
  justify-self: center; /* center board */
}

.game-layout > :nth-child(3) {
  justify-self: start; /* legend sits right */
  margin-left: 40px;
}