.game-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  width: 100%;
  margin-top: 20px;
}

/* Center board */
.game-layout > :nth-child(2) {
  justify-self: center;
}

/* Rules align right inside left column */
.game-layout > :nth-child(1) {
  justify-self: end;
  margin-right: 30px;
}

/* Legend align left inside right column */
.game-layout > :nth-child(3) {
  justify-self: start;
  margin-left: 30px;
}